AWS_PROFILE=your-aws-profile
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
TF_VAR_cluster_name=your-cluster-name
TF_VAR_repository_name=your-ecr-repo
TF_VAR_vpc_cidr=10.60.0.0/16
TF_VAR_github_repository=your-org-or-user/sample-platform-app
TF_VAR_github_branch=main

# Portal runtime
GITHUB_TOKEN=ghp_or_fine_grained_token_here
GITHUB_OWNER=your-github-user
GITHUB_REPO=sample-platform-app
GITHUB_WORKFLOW_FILE=day4-gitops-multi-app.yml
GITHUB_WORKFLOW_REF=main
PORTAL_APP_NAME=app-a
KUBE_NAMESPACE=platform-demo
PORT=9091
